<ul class="sidebar-nav">

    <li class="sidebar-nav-item"><a class="sidebar-nav-link" href="<%= url %>/dashboard"><span>Dashboard</span></a></li>
    <li class="sidebar-nav-item"><a class="sidebar-nav-link" onclick=onPack()><span id="packSpan">Pack</span></a></li>
    <li class="sidebar-nav-item"><a class="sidebar-nav-link" href="<%= url %>/Inventory">
	<span>Inventory <%=(dashboard.cardCount && dashboard.cardMax) ? "(" + dashboard.cardCount + "/" + dashboard.cardMax + ")" : "" %></span>
	</a></li>
    <li class="sidebar-nav-item"><a class="sidebar-nav-link" href="<%= url %>/Friends">
		<span>Friends <%=(dashboard.friendcount && dashboard.maxfriendcount) ? "(" + dashboard.friendcount + "/" + dashboard.maxfriendcount + ")" : "" %></span>
	</a></li>
    <li class="sidebar-nav-item"><a class="sidebar-nav-link" href="<%= url %>/Settings"><span>Settings</span></a></li>

	<% if (dashboard.packTime != undefined && dashboard.fullTime != undefined) { %>
		<script>
			const update = 10;
			var packSpan = document.querySelector("#packSpan")
			var time = parseInt("<%= dashboard.packTime %>");
			var fulltime = parseInt("<%= dashboard.fullTime %>");
			<!--var tradeTime = parseInt("<%= dashboard.tradeTime %>");-->
			const interval = setInterval(() => {
				updateTime();
				<!--if(time == 0 && tradeTime == 0)-->
				if(time == 0)
				{
					clearInterval(interval);
				}
			}, update);
			function updateTime()
			{
				time -= update;
				<!--tradeTime -= update;-->
				if (time <= 0) time = 0;
				<!--if (tradeTime <= 0) tradeTime = 0;-->
				if (typeof updateTimeDash !== "undefined") updateTimeDash();
				<!--if (typeof tradeTimeTrade !== "undefined") tradeTimeTrade();-->
				if (time == 0)
				{
					packSpan.innerText = "Pack";
				}else
				{
					var ft = formatTime(time);
					packSpan.innerText = `Pack (${ft})`;
				}
				return 0;
			}
			
			function formatTime(t)
			{
					var seconds = Math.floor((t / 1000) % 60);
					if (("" + seconds).length == 1) seconds = "0" + seconds;
					var minutes = Math.floor((t / (60 * 1000)) % 60);
					if (("" + minutes).length == 1) minutes = "0" + minutes;
					var hours = Math.floor((t / (60 * 60 * 1000)) % 24);
					if (("" + hours).length == 1) hours = "0" + hours;
					var days = Math.floor(t / (60 * 60 * 24 * 1000));
					if (("" + days).length == 1) days = "0" + days;
					var formatTime = days + ":" + hours + ":" + minutes + ":" + seconds;
					if(days == "00")
					{
						formatTime = hours + ":" + minutes + ":" + seconds;
						if(hours == "00")
						{
							formatTime = minutes + ":" + seconds;
							if(minutes == "00")
							{
								formatTime = seconds;
							}
						}
					}
					return formatTime;
			}
		</script>
		<script>
			var onloadFuncs = [];
			window.onfocus = () => {
			 for(var i in this.onloadFuncs)
			 {
			  this.onloadFuncs[i]();
			 }
			}
			onloadFuncs.push(() => {
			  var xhttp = new XMLHttpRequest();
			  xhttp.onreadystatechange = function() {
				if (this.readyState == 4 && this.status == 200) {
					var json = JSON.parse(this.response);
					time = json.packTime;
				}
			  }
			  xhttp.open("POST", "/packTime", true);
			  xhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
			  xhttp.send(JSON.stringify());
			  <!--var xtradehttp = new XMLHttpRequest();-->
			  <!--xtradehttp.onreadystatechange = function() {-->
				<!--if (this.readyState == 4 && this.status == 200) {-->
					<!--var json = JSON.parse(this.response);-->
					<!--tradeTime = json.tradeTime;-->
				<!--}-->
			  <!--}-->
			  <!--xtradehttp.open("POST", "/tradeTime", true);-->
			  <!--xtradehttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");-->
			  <!--xtradehttp.send(JSON.stringify());-->
			});
		</script>
		<script>
			function onPack()
			{
				if(time == 0)
					window.location.href = "<%= url %>/pack"
			}
		</script>
	<% } %>

</ul>
