<!DOCTYPE html>
<html lang="en">

    <head class="scrollable">

        <%- include('partials/standard_header.ejs') %>

        <title>WaifuCollector</title>

        <link rel="stylesheet" href="<%= url %>/resources/css/index.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>

        <style>

            .nav{

                background-color: transparent;

            }

        </style>

    </head>

    <body class="scrollable" style='background-image: url("<%= url %>/assets/homeBackground.png"); background-size: cover; background-repeat: no-repeat; background-position: center;'>

        <%- include('partials/nav.ejs') %>
        <div class="home">

			<div class="box" id="graph">
				<canvas id="packGraph"></canvas>
			</div>

			<script>
				var ctx = document.getElementById('packGraph');
				var packData = [];
				
				var config = {
					type: 'line',
					data: {
						labels: [],
						datasets: [{
							label: 'Packs Opened',
							lineTension: 0,
							backgroundColor: '#fffff',
							borderColor: '#fffff050',
							data: [],
							fill: false,
						}]
					},
					options: {
						responsive: true,
						maintainAspectRatio: false,
						tooltips: {
							mode: 'index',
							intersect: false,
						},
						hover: {
							mode: 'nearest',
							intersect: true
						},
						scales: {
							xAxes: [{
								display: true,
								scaleLabel: {
									display: true,
								}
							}],
							yAxes: [{
								display: true,
								scaleLabel: {
									display: true,
								}
							}]
						}
					}
				};

				var options = { hourCycle: "h23", weekday: 'short', hour: 'numeric', minute: '2-digit' };
				window.onload = function() {
					var chart = new Chart(ctx, config);

					var xtradehttp = new XMLHttpRequest();
					xtradehttp.onreadystatechange = function() {
						if (this.readyState == 4 && this.status == 200) {
							var json = JSON.parse(this.response);
							packData = json.data;

							for(var i = 0; i < packData.length; i++)
							{
								var d = new Date(packData[i].time + new Date().getTimezoneOffset()*60*1000);
								var timestring = d.toLocaleDateString("en-US", options);
								chart.data.labels.push(timestring);
								chart.data.datasets[0].data.push(packData[i].amount);
							}
							chart.update();
						}
					}
					xtradehttp.open("POST", "/packData", true);
					xtradehttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
					xtradehttp.send(JSON.stringify());
				};

			</script>

			<details style="margin-top: 30px;">
				<summary class="title" style="margin-top: 20px;">Tutorial</summary>
				
				<h5 class="subtitle" style="margin-top: 30px;">Packs</h5>
				<p class="content">In this game you can collect, upgrade and trade Waifu-Cards.</p>
				<p class="content">Every 30 minutes you can pull a Waifu-Card.
				<br>Each Waifu-Card starts with Level 1 and a random Quality from 1-5 (X: Quality, Y: Level).</p>

				<waifu-card img_path="<%- api_url %>/Card/Card_ZeroTwo.jpg" frame-front="<%- api_url %>/Frame/Frame_Silver_Front.png" frame-back="" pos-x="10" card-name="Name" anime-name="Anime" turned="false" quality="X" level="Y" card-size="1"></waifu-card>

				<h5 class="subtitle" style="margin-top: 490px;">Upgrading</h5>
				<p class="content">By Combining 2 Cards of the same Level you can Upgrade them.
				<br>The Chance for the Upgrade to succeede in % is (Quality1 + Quality2) * 10.</p>
				<p class="content">If the Upgrade succeedes the new Cards Level will be one higher and the Quality will be random from 1-5.
				<br>If the Upgrade fails the new Cards Level will stay the same, and the Quality will be the avarage of the two.</p>

				<h5 class="subtitle">Trading</h5>
				<p class="content">You can add Waifu-Cards to the Trade and when both Users hit accept the Trade is complete.</p>
			</details>

			<details style="margin-top: 30px">
				<summary class="title" style="margin-top: 20px;">Copyright</summary>
					
				<p class="content" style="margin-left: 30px;">If you have any copyright related issues please contact me (contact.waifucollector@gmail.com), I will happily resolve the issue.</p>
				<p class="content" style="margin-left: 30px; margin-bottom: 10px;">Everything is nonprofit, so I would be thankful if we could solve the problems together without any sort of legal process.</p>
			</details>

			 <div class="box" style="width: calc(100% - 20px); margin-top:30px; margin-bottom: 10px; display: table;">
				 <a href="https://discord.gg/hftNUqNgRj" target="_blank">
				  <img src="<%= url %>/assets/discordicon.png" id="discord"/>
				 </a>
				 <div style="display: table-cell; margin: auto; text-align: center; vertical-align: middle;">
					 <a class="subtitle" style="text-decoration: none;" href="privacy">
						 Privacy
					 </a>
				 </div>
			 </div>


		</div>
    </body>

    <script src="../resources/components.js"></script> 
</html>
