<!DOCTYPE html>
<html lang="en">
    <head>

		<%- include('partials/standard_header.ejs') %>

		<title>WaifuCollector | Trade</title>
		
		<link rel="stylesheet" href="<%= url %>/resources/css/trade.css">
        <link rel="stylesheet" href="<%= url %>/resources/css/dashboard.css">
        <link rel="stylesheet" href="<%= url %>/resources/css/dashboard_sidebar.css">

        <style>

            .nav{

                position: fixed;
                top: 0;
                left: 0;

                box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.5);

            }

        </style>


    </head>

	<form class="addtradeform" action="/tradeinventory" method="get">
		<input type="hidden" name="userID" value="<%-userID%>"/>
	</form>
	<form class="oktradeform" action="/oktrade" method="post">
		<input type="hidden" name="userID" value="<%-userID%>"/>
	</form>
	<form class="removetradeform" action="/removetrade" method="post">
		<input type="hidden" name="userID" value="<%-userID%>"/>
		<input type="hidden" name="cardID" value=""/>
	</form>

    <body style="overflow: hidden;">

        <%- include('partials/nav.ejs') %>

        <div class="sidebar">

            <%- include('partials/dash_nav.ejs') %>

        </div>

        <div class="dashboard_content">
			<div class="dashboard_content_wrapper">
				<div class="trade scrollable">
					<div class="packwrapper">
						<div id="tradeself">
							<div class="name">You</div>
							<div class=""><%- tradeCount1 + "/" + tradeLimit %></div>
							<div class="confirmationself"></div>
						<div id="tradeselfinner">
						</div>
						</div>
						<div id="tradeother">
							<div class="name"><%- username %></div>
							<div class=""><%- tradeCount2 + "/" + tradeLimit %></div>
							<div class="confirmationother"></div>
							<div id="tradeotherinner">
							</div>
						</div>
						<input type="button" class="addtrade" value="Add Card"></input>
						<input type="button" class="oktrade" value="Confirm"></input>
					</div>
				</div>
			</div>
        </div>
    </body>
	
	<script
	src="https://code.jquery.com/jquery-3.5.1.min.js"
	integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
	crossorigin="anonymous"></script>

	<script>
        var tradeTimeFriend = <%-tradeTimeFriend%>
        const tradeinterval = setInterval(() => {
            updateTradeTime();
            if(tradeTimeFriend == 0)
            {
                clearInterval(tradeinterval);
            }
        }, update);

        function updateTradeTime()
        {
            tradeTimeFriend -= update;

            if (tradeTimeFriend <= 0) tradeTimeFriend = 0;

            if (typeof tradeTimeTrade !== "undefined") tradeTimeTrade();

            return 0;
        }

		if(<%- tradeCount1 >= tradeLimit%>)
		{
			document.querySelector('.addtrade').disabled = true;
		}

		function tradeTimeTrade()
		{
			if(tradeTime != 0 || tradeTimeFriend != 0)
			{
				var ft1, ft2;
				if(tradeTime == 0) ft1 = "Ready";
				else ft1 = formatTime(tradeTime);
				if(tradeTimeFriend == 0) ft2 = "Ready";
				else ft2 = formatTime(tradeTimeFriend);
				document.querySelector('.oktrade').value = ft1 + " / " + ft2;
				document.querySelector('.oktrade').disabled = true;
			}
			else
			{
				document.querySelector('.oktrade').value = "Confirm";
				document.querySelector('.oktrade').disabled = false;
			}
		}

		onloadFuncs.push(() => {
		  var xtradehttp = new XMLHttpRequest();
		  xtradehttp.onreadystatechange = function() {
			if (this.readyState == 4 && this.status == 200) {
				var json = JSON.parse(this.response);
				tradeTimeFriend = json.tradeTime;
			}
		  }
		  xtradehttp.open("POST", "/tradeTime", true);
		  xtradehttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
		  xtradehttp.send(JSON.stringify( {userID: <%-userID%>}));
		});
	</script>

	<script>
			 const cards = <%- JSON.stringify(data.selfcards) %>;
			 const cardsother = <%- JSON.stringify(data.friendcards) %>;
			 var opn = document.getElementById('tradeselfinner');
			 var opnother = document.getElementById('tradeotherinner');

			insert(cards, opn);
			insert(cardsother, opnother);
			var j = 0;
			function insert(_cards, _opn)
			{
				 var off = 0;
				for(var i = 0; i < _cards.length; i++/*,off+=cardSize*/)
				 {
				   var path = _cards[i].cardImage;
				   var posX =  off;
					var cardhtml = `<waifu-card id=card${j} img_path=${path} frame-front=${_cards[i].frame.path_front} frame-back=${_cards[i].frame.path_back} pos-x=${posX} card-name=\"${_cards[i].cardName}\" anime-name=\"${_cards[i].type.name}\" turned=false quality=${_cards[i].quality} level=${_cards[i].level} uuid=${_cards[i].uuid} cardID=${_cards[i].id} card-size=1 effect_path="${_cards[i].effect}"></waifu-card>`;
				   _opn.insertAdjacentHTML('beforeend',
				   cardhtml);

				   var o = document.getElementById(`card${j}`);
				   j++;
				 }
			}
			 
	</script>
	<script>
      $(".addtrade").click(()=>{
        var ele = document.querySelector(".addtradeform");
        ele.submit();
      });
      $(".oktrade").click(()=>{
        var ele = document.querySelector(".oktradeform");
        ele.submit();
      });
	</script>

	<script>
		 var removeForm = document.querySelector(".removetradeform")	
		 var isOpen = false;
         $(document).click(function(event) {
          var ele = $(event.target);
		
          if(ele.is('waifu-card') && ele[0].parentElement.id == "tradeselfinner" && !isOpen)
          {
		    document.body.insertAdjacentHTML('afterend',
				`<card-confirmation message="Remove From Trade?"> </card-confirmation>`);
			  isOpen = true;
			var conf = document.querySelector("card-confirmation");
			conf.yesCallback = () => {
				removeForm.cardID.value = ele[0].uuid;
				removeForm.submit();
				isOpen = false;
			};
			conf.noCallback = () => {conf.remove(); isOpen = false;};
		  }
	 });
	</script>

	<script>
		var parentself = document.querySelector("#tradeself");
		var inventory = document.querySelector("#tradeselfinner");
		var parentother = document.querySelector("#tradeother");
		var inventoryother = document.querySelector("#tradeotherinner");
		resize(inventory, parentself, cards);
		resize(inventoryother, parentother, cardsother);
		window.onresize = function(event) {
			resize(inventory, parentself, cards);
			resize(inventoryother, parentother, cardsother);
		};
		function resize(inv, parent, c)
		{
			var amount = Math.floor((parent.offsetWidth)/ 273);
			if(amount > c.length)
				amount = c.length;
			if(amount <= 0)
				amount = 1;
			var size = amount * 273;
			inv.style.width = size + "px";
		}
	</script>

	<script>
	 	const cs = <%- JSON.stringify(statusone) %>;
		const co = <%- JSON.stringify(statustwo) %>;

		var csf = document.querySelector(".confirmationself");
		var cof = document.querySelector(".confirmationother");

		if(cs == 0)
			csf.innerHTML = "Not Confirmed";
		else
			csf.innerHTML = "Confirmed";
		if(co == 0)
			cof.innerHTML = "Not Confirmed";
		else
			cof.innerHTML = "Confirmed";
	</script>
	
	<script src="../resources/components.js"></script>
    <%- include('partials/error.ejs') %>
</html>
